<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Rubik Dirt' rel='stylesheet'>
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/4358b9453c.js" crossorigin="anonymous"></script>
    <!--Estilos-->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="global-container">

        <!--------------------HEADER-------------------->
        <header>
            <a href="/"><img src="images/logo.png" alt="Logo de la web"></a>
        </header>
        <!--------------------NAV BAR-------------------->
        <div class="nav-bar">
            <div class="left-col">
                <a href="/">Inicio</a>
                <a href="/supplementation">Suplementación</a>
                <a href="/training">Planes de entrenamiento</a>
                <a href="/app">App</a>
            </div>
            <div class="right-col">
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a href="/register">Registro</a>
                <a href="/login">Login</a>
            </div>
        </div>
        <!--------------------MAIN-------------------->
        <div class="main-container">
            <div class="quote">
                <h1>PRESSURE<br>IS A<br>PRIVILEGE</h1>
                <h2>It's what you do with it that matters.</h2>
            </div>
            <!--------------------MAIN: CARDS-------------------->

            <div class="training-plan">
                <div class="card">
                    <div class="card-container">
                        <img src="images/push.png">
                        <h1>Push Day</h1>
                        <h4><strong>Entrenamiento de empujes: pecho, hombro y triceps</strong></h4>
                    </div>
                    <a href="/training#push"><button>Ver plan</button></a>
                </div>


                <div class="card">
                    <div class="card-container">
                        <img src="images/pull.png">
                        <h1>Pull Day</h1>
                        <h4><strong>Entrenamiento de tirones: espalda y biceps</strong></h4>
                    </div>
                    <a href="/training#pull"><button>Ver plan</button></a>
                </div>


                <div class="card">
                    <div class="card-container">
                        <img src="images/leg.png">
                        <h1>Leg Day</h1>
                        <h4><strong>Entrenamiento completo de piernas</strong></h4>
                    </div>
                    <a href="/training#leg"><button>Ver plan</button></a>
                </div>
            </div>
        </div>
        <!--------------------FOOTER-------------------->
        <footer>
            <div class="footer-description">
                <p>
                    Hecho con <i class="fa-solid fa-heart"></i> para el módulo de Lenguaje de Marcas
                </p>
                <p>
                    CFGS Desarrollo de Aplicaciones Web
                </p>
            </div>
            <div>
                <a href="https://iessoterohernandez.es/" target="_blank"><img src="images/ies-sotero.png"
                        alt="IES logo"></a>
            </div>
        </footer>

    </div>
</body>

</html>