<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Redireccionado al index tras 5s-->
    <meta http-equiv="refresh" content="5;url=/">
    <title>Logged</title>
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Rubik Dirt' rel='stylesheet'>
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/4358b9453c.js" crossorigin="anonymous"></script>
    <!--Estilos-->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="global-container">

        <!--------------------HEADER-------------------->
        <header>
            <a href="/"><img src="/images/logo.png" alt="Logo de la web"></a>
        </header>
        <!--------------------MAIN-------------------->
        <div class="main-container">
            <div class="logged">
                <h1>Ingreso completado con <strong>éxito</strong></h1>
                <h4>En 5s serás redireccionado a la página principal</h4>
                <img src="/images/tick.png" alt="tick">
            </div>
        </div>

        <!--------------------FOOTER-------------------->
        <footer>
            <div class="footer-description">
                <p>
                    Hecho con <i class="fa-solid fa-heart"></i> para el módulo de Lenguaje de Marcas
                </p>
                <p>
                    CFGS Desarrollo de Aplicaciones Web
                </p>
            </div>
            <div>
                <a href="https://iessoterohernandez.es/" target="_blank"><img src="/images/ies-sotero.png"
                        alt="IES logo"></a>
            </div>
        </footer>

    </div>
</body>

</html>