<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suplementación</title>
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Rubik Dirt' rel='stylesheet'>
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/4358b9453c.js" crossorigin="anonymous"></script>
    <!--Estilos-->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="global-container">

        <!--------------------HEADER-------------------->
        <header>
            <a href="/"><img src="/images/logo.png" alt="Logo de la web"></a>
        </header>
        <!--------------------NAV BAR-------------------->
        <div class="nav-bar">
            <div class="left-col">
                <a href="/">Inicio</a>
                <a href="/supplementation">Suplementación</a>
                <a href="/training">Planes de entrenamiento</a>
                <a href="/app">App</a>
            </div>
            <div class="right-col">
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a href="/register">Registro</a>
                <a href="/login">Login</a>
            </div>
        </div>
        <!--------------------MAIN-------------------->
        <div class="main-container">
            <h1 class="titulo">Alimentación + entrenamiento = Resultados</h1>
            <p>La suplementación es algo <strong>opcional</strong>, pero que puede ayudarte mucho en tus entrenamientos.
                Algunas de
                las más usuales son:
            </p>

            <!--LISTA-->
            <ul class="lista">
                <li>
                    <strong>Proteína</strong>
                    <p>
                        La base para lograr resultados visibles y duraderos es una correcta alimentación basada
                        principalmente en el consumo de proteínas. Este macronutriente es esencial para que tu cuerpo se
                        recupere del entrenamiento y
                        pueda reparar las fibras dañadas, haciendo que crezcan más fuertes y resistentes. Puede
                        obtenerse a
                        través de los alimentos que comemos diariamente, pero también se puede obtener gracias a la
                        suplementación.
                        La toma de proteínas diaria adecuada se calcula según el peso corporal:
                    </p>
                    <div class="formula">1.5g - 2g/kg de peso corporal</div>
                    <p>

                    </p>
                    <div class="suplementos">
                        <a href="https://www.myprotein.es/nutrition/protein/whey-protein.list" target="_blank"><img
                                src="/images/my-protein.png" alt="Bote de proteinas"></a>
                    </div>
                </li>
                <li>
                    <strong>Creatina</strong>
                    <p>
                        La creatina es una sustancia que nuestro cuerpo produce de forma natural
                        en órganos como el hígado, el páncreas o los riñones. Tomar un suplemento de este aminoácido nos
                        ayudará a disfrutar de un cuerpo más fuerte y unos músculos en mejor estado de forma.
                        La creatina puede aportar interesantes beneficios a tu salud como a tu entrenamiento:
                    </p>
                    <ul class="sublista">
                        <li>Mayor energía en los músculos</li>
                        <li>Ayuda a recuperar los músculos más rapidamente</li>
                        <li>Mayor rendimiento deportivo</li>
                    </ul>
                    <p>
                        La toma de creatina diaria adecuada también se calcula según el peso corporal:
                    </p>
                    <div class="formula">0.1g/kg de peso corporal</div>
                    <div class="suplementos">
                        <a href="https://www.prozis.com/es/es/search/q/text/creatina" target="_blank"><img
                                src="/images/creatina.png" alt="Bote de creatina"></a>
                    </div>
                </li>
                <li>
                    <strong>Pre-entreno</strong>
                    <p>
                        Los suplementos de pre-entreno están diseñados para dar un repentino impulso de energía y mayor
                        concentración. La mayoría de los están disponibles en forma de polvo que luego se mezcla con
                        agua. Los ingredientes clave suelen incluir cafeína, beta alanina, aminoácidos y creatina.
                        Se debe tomar unos 20-30min antes del entrenamiento y siempre en las dosis recomendadas, ya que
                        puede llegar a ser peligroso si se toma en exceso debido a la alta cantidad de cafeína en el
                        organismo.
                    </p>
                    <div class="suplementos">
                        <a href="https://www.prozis.com/es/es/nutricion-deportiva/desarrollo-muscular/preentrenamiento-y-oxido-nitrico"
                            target="_blank"><img src="/images/pre-entreno.png" alt="Bote de creatina"></a>
                    </div>
                </li>
            </ul>

        </div>

        <!--------------------FOOTER-------------------->
        <footer>
            <div class="footer-description">
                <p>
                    Hecho con <i class="fa-solid fa-heart"></i> para el módulo de Lenguaje de Marcas
                </p>
                <p>
                    CFGS Desarrollo de Aplicaciones Web
                </p>
            </div>
            <div>
                <a href="https://iessoterohernandez.es/" target="_blank"><img src="/images/ies-sotero.png"
                        alt="IES logo"></a>
            </div>
        </footer>

    </div>
</body>

</html>