<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes de entrenamiento</title>
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Rubik Dirt' rel='stylesheet'>
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/4358b9453c.js" crossorigin="anonymous"></script>
    <!--Estilos-->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="global-container">

        <!--------------------HEADER-------------------->
        <header>
            <a href="/"><img src="/images/logo.png" alt="Logo de la web"></a>
        </header>
        <!--------------------NAV BAR-------------------->
        <div class="nav-bar">
            <div class="left-col">
                <a href="/">Inicio</a>
                <a href="/supplementation">Suplementación</a>
                <a href="/training">Planes de entrenamiento</a>
                <a href="/app">App</a>
            </div>
            <div class="right-col">
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a href="/register">Registro</a>
                <a href="/login">Login</a>
            </div>
        </div>
        <!--------------------MAIN-------------------->
        <div class="main-container">
            <!-------------------PUSH TRAINING---------------->
            <h1 id="push">Push Training</h1>

            <table>
                <!--PECTORAL-->
                <tr class="muscular-group">
                    <td colspan="3"><strong>Pectoral</strong></td>
                </tr>

                <tr class="table-header">
                    <th>Nombre del ejercicio</th>
                    <th>Rep x Series</th>
                    <th>Realización</th>
                </tr>

                <tr>
                    <td>Incline Dumbbell Press</td>
                    <td>10 x 4</td>
                    <td><img class="gif" src="/images/incline-press.gif"></td>
                </tr>

                <tr>
                    <td>Flat Dumbbell Press</td>
                    <td>10 x 3</td>
                    <td><img class="gif" src="/images/flat-press.gif"></td>
                </tr>
                <tr>
                    <td>Chest Fly</td>
                    <td>10 x 3</td>
                    <td><img class="gif" src="/images/chest-fly.jpg"></td>
                </tr>

                <!--HOMBRO-->
                <tr class="muscular-group">
                    <td colspan="3"><strong>Hombros</strong></td>
                </tr>

                <tr class="table-header">
                    <th>Nombre del ejercicio</th>
                    <th>Rep x Series</th>
                    <th>Realización</th>
                </tr>

                <tr>
                    <td>Shoulder Press</td>
                    <td>8 x 4</td>
                    <td><img class="gif" src="/images/shoulder-press.gif"></td>
                </tr>

                <tr>
                    <td>Cable Lateral Raises</td>
                    <td>10 x 3 (cada hombro)</td>
                    <td><img class="gif" src="/images/lateral-raises.gif"></td>
                </tr>

                <!--TRICEPS-->
                <tr class="muscular-group">
                    <td colspan="3"><strong>Triceps</strong></td>
                </tr>

                <tr class="table-header">
                    <th>Nombre del ejercicio</th>
                    <th>Rep x Series</th>
                    <th>Realización</th>
                </tr>

                <tr>
                    <td>Triceps Pushdown</td>
                    <td>10 x 3</td>
                    <td><img class="gif" src="/images/triceps-pushdown.jpg"></td>
                </tr>

                <tr>
                    <td>Triceps Extension</td>
                    <td>10 x 3</td>
                    <td><img class="gif" src="/images/triceps-extension.gif"></td>
                </tr>

            </table>

            <!-------------------PULL TRAINING---------------->
            <h1 id="pull">Pull Training</h1>

            <table>
                <!--ESPALDA-->
                <tr class="muscular-group">
                    <td colspan="3"><strong>Espalda</strong></td>
                </tr>

                <tr class="table-header">
                    <th>Nombre del ejercicio</th>
                    <th>Rep x Series</th>
                    <th>Realización</th>
                </tr>

                <tr>
                    <td>Seated Row</td>
                    <td>10 x 4</td>
                    <td><img class="gif" src="/images/seated-row.gif"></td>
                </tr>

                <tr>
                    <td>Lat Pulldown</td>
                    <td>10 x 3</td>
                    <td><img class="gif" src="/images/lat-pulldown.gif"></td>
                </tr>
                <tr>
                    <td>Barbell Row</td>
                    <td>10 x 3</td>
                    <td><img class="gif" src="/images/barbell-row.gif"></td>
                </tr>

                <tr>
                    <td>Reverse Fly</td>
                    <td>10 x 3</td>
                    <td><img class="gif" src="/images/reverse-fly.jpg"></td>
                </tr>

                <!--BICEPS-->
                <tr class="muscular-group">
                    <td colspan="3"><strong>Biceps</strong></td>
                </tr>

                <tr class="table-header">
                    <th>Nombre del ejercicio</th>
                    <th>Rep x Series</th>
                    <th>Realización</th>
                </tr>

                <tr>
                    <td>Bicep Curl</td>
                    <td>10 x 4 (cada brazo)</td>
                    <td><img class="gif" src="/images/bicep-curl.gif"></td>
                </tr>

                <tr>
                    <td>Preacher Curl</td>
                    <td>10 x 3</td>
                    <td><img class="gif" src="/images/preacher-curl.gif"></td>
                </tr>

            </table>

            <!-------------------LEG TRAINING---------------->

            <h1 id="leg">Leg Training</h1>

            <table>
                <!--CUADRICEPS-->
                <tr class="muscular-group">
                    <td colspan="3"><strong>Cuadriceps</strong></td>
                </tr>

                <tr class="table-header">
                    <th>Nombre del ejercicio</th>
                    <th>Rep x Series</th>
                    <th>Realización</th>
                </tr>

                <tr>
                    <td>Squat</td>
                    <td>8 x 4</td>
                    <td><img class="gif" src="/images/squat.gif"></td>
                </tr>

                <tr>
                    <td>Bulgarian Squat</td>
                    <td>10 x 3 (cada pierna)</td>
                    <td><img class="gif" src="/images/bulgarian-squat.jpg"></td>
                </tr>

                <!--FEMORAL-->
                <tr class="muscular-group">
                    <td colspan="3"><strong>Femoral</strong></td>
                </tr>

                <tr class="table-header">
                    <th>Nombre del ejercicio</th>
                    <th>Rep x Series</th>
                    <th>Realización</th>
                </tr>

                <tr>
                    <td>Romanian Deadlift</td>
                    <td>10 x 3</td>
                    <td><img class="gif" src="/images/romanian-deadlift.gif"></td>
                </tr>

                <tr>
                    <td>Lying Leg Curl</td>
                    <td>10 x 3</td>
                    <td><img class="gif" src="/images/lying-leg-curl.gif"></td>
                </tr>

                <!--GLUTEO-->
                <tr class="muscular-group">
                    <td colspan="3"><strong>Glúteo</strong></td>
                </tr>

                <tr class="table-header">
                    <th>Nombre del ejercicio</th>
                    <th>Rep x Series</th>
                    <th>Realización</th>
                </tr>

                <tr>
                    <td>Hip Thrust</td>
                    <td>10 x 3</td>
                    <td><img class="gif" src="/images/hip-thrust.jpg"></td>
                </tr>

                <!--GEMELOS-->
                <tr class="muscular-group">
                    <td colspan="3"><strong>Gemelos</strong></td>
                </tr>

                <tr class="table-header">
                    <th>Nombre del ejercicio</th>
                    <th>Rep x Series</th>
                    <th>Realización</th>
                </tr>

                <tr>
                    <td>Calf Raises</td>
                    <td>10 x 3</td>
                    <td><img class="gif" src="/images/calf-raise.gif"></td>
                </tr>

            </table>

        </div>

        <!--------------------FOOTER-------------------->
        <footer>
            <div class="footer-description">
                <p>
                    Hecho con <i class="fa-solid fa-heart"></i> para el módulo de Lenguaje de Marcas
                </p>
                <p>
                    CFGS Desarrollo de Aplicaciones Web
                </p>
            </div>
            <div>
                <a href="https://iessoterohernandez.es/" target="_blank"><img src="/images/ies-sotero.png"
                        alt="IES logo"></a>
            </div>
        </footer>

    </div>
</body>

</html>