<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Rubik Dirt' rel='stylesheet'>
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/4358b9453c.js" crossorigin="anonymous"></script>
    <!--Estilos-->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="global-container">

        <!--------------------HEADER-------------------->
        <header>
            <a href="/"><img src="/images/logo.png" alt="Logo de la web"></a>
        </header>
        <!--------------------NAV BAR-------------------->
        <div class="nav-bar">
            <div class="left-col">
                <a href="/">Inicio</a>
                <a href="/supplementation">Suplementación</a>
                <a href="/training">Planes de entrenamiento</a>
                <a href="/app">App</a>
            </div>
            <div class="right-col">
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a href="/register">Registro</a>
                <a href="/login">Login</a>
            </div>
        </div>
        <!--------------------MAIN-------------------->
        <div class="main-container">
            <div class="app">
                <h1>Descarga nuestra <strong>App</strong> y lleva tu entrenamiento a todas partes</h1>
                <div>
                    <video src="../video/video-app.mp4" autoplay controls></video>
                </div>
                <div class="app-buttons">
                    <a href="https://play.google.com/store/apps/details?id=io.strongapp.strong" target="_blank">
                        <img src="/images/app-android.png" alt="App Android">
                    </a>
                    <a href="https://apps.apple.com/us/app/strong-workout-tracker-gym-log/id464254577" target="_blank">
                        <img src="/images/app-ios.png" alt="App iOS">
                    </a>

                </div>
            </div>
        </div>
        <!--------------------FOOTER-------------------->
        <footer>
            <div class="footer-description">
                <p>
                    Hecho con <i class="fa-solid fa-heart"></i> para el módulo de Lenguaje de Marcas
                </p>
                <p>
                    CFGS Desarrollo de Aplicaciones Web
                </p>
            </div>
            <div>
                <a href="https://iessoterohernandez.es/" target="_blank"><img src="/images/ies-sotero.png"
                        alt="IES logo"></a>
            </div>
        </footer>

    </div>
</body>

</html>